@font-face {
    font-family: 'Jakarta Sans Bold';
    src: url('../fonts/PlusJakartaSans-Bold.woff2');
    font-display: swap;
}

@font-face {
    font-family: "Jakarta Sans Semibold";
    src: url("../fonts/PlusJakartaSans-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Jakarta Sans Regular";
    src: url("../fonts/PlusJakartaSans-Regular.woff2");
    font-display: swap;
}

h1,
h2,
h3,
p {
    margin: 0;
} 


// TEXT DECORATION
.decoration-none {
    text-decoration: none;
}

.decoration-underline {
    text-decoration: underline;
}

.hover-underline:hover {
    text-decoration: underline;
}

// FONT WEIGHT
.font-400 {
    font-weight: 400;
    font-family: "Jakarta Sans Regular", sans-serif;
}

.font-600 {
    font-family: "Jakarta Sans Semibold", sans-serif;
    font-weight: 600;
}

.font-700 {
    font-family: "Jakarta Sans Bold", sans-serif;
    font-weight: 700;
}

// FONT SIZE
.text-5x {
    font-size: 56px;
    line-height: 120%;
}

.text-4xl {
    font-size: 40px;
    line-height: 120%;
}

.text-3xl {
    font-size: 32px;
    line-height: 120%;
}

.text-2xl {
    font-size: 28px;
    line-height: 120%;
}

.text-xl {
    font-size: 24px;
    line-height: 120%;
}

.text-lg {
    font-size: 20px;
    line-height: 140%;
}

.text-base {
    font-size: 16px;
    line-height: 140%;
}

.text-sm {
    font-size: 14px;
}

// TEXT ALIGN
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}