@font-face {
    font-family: 'Jakarta Sans Bold';
    src: url('../fonts/PlusJakartaSans-Bold.ttf');
}

@font-face {
    font-family: "Jakarta Sans Semibold";
    src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
}

@font-face {
    font-family: "Jakarta Sans Regular";
    src: url("../fonts/PlusJakartaSans-Regular.ttf");
}