@use './typography';
@use './layout';
@use './colors';

body {
    margin: 0;
    font-family: "Jakarta Sans Regular";
    color: colors.$neutral-100;
}

button {
    all: unset;
    cursor: pointer;
}

nav {
    border-bottom: solid 1px colors.$secondary-surface;
    .order-card {
        width: 160px;
    }

    .menu {
        display: none;
    }
}

.accordion {
    &.show {
        .accordion-header img {
            transform: rotate(0deg);
        }
        .accordion-body {
            height: auto;
            overflow: auto;
            padding-bottom: 16px;
        }
    }

    .accordion-header {
        background: colors.$primary-main;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: colors.$primary-main;
        border-radius: 8px;
        padding: 16px 20px;
        cursor: pointer;

        img {
            transform: rotate(180deg);
        }
    }

    .accordion-body {
        height: 0;
        overflow: hidden;
        margin-top: 16px;
        padding: 0 20px 0px 20px;
        border-bottom: solid 1px colors.$primary-main;

        ul {
            list-style-type: disc;
        }

    }
}

footer {
    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .list {
        .item {
            width: calc(20% - 20px);       
        }
    }
}

@media (max-width: 992px) {
    nav {
        position: relative;
        ul {
            &.flex.show {
                display: flex;
            }

            &.flex {
                display: none;
            }
            position: absolute;
            top: 88px;
            left: 0;
            right: 0;
            background: colors.$neutral-10;
            flex-direction: column;
            padding: 20px;
        }

        .menu {
            display: block;
        }
    }

    footer {
        .list  .item {
            width: 100%;
        }
    }
}